<h1><a href="{% url 'birds:index' %}">Birds</a></h1>

{% if player %}
<h2>Hello, {{ player.name }}!</h2>
<div>Silver: {{ player.silver|floatformat:2 }}</div>
<div>Gold: {{ player.gold|floatformat:2 }}</div>
{% endif %}

{% for bird in birds %}
<div class="bird">
  <p><strong>{{ bird.template.name }}</strong></p>
  <ul>
    <li>Fertility: {{ bird.template.fertility }} eggs/hour</li>
    <li>Cost: {{ bird.template.cost }} silver</li>
    <li>You have: {{ bird.amount }}</li>
  </ul>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="template" value="{{bird.template.id}}" />
    <input type="number" value="1" name="amount" />
    <input type="submit" value="Buy" />
  </form>
</div>
{% endfor %}
