<h1><a href="{% url 'birds:index' %}">Birds</a></h1>

{% if player %}
<h2>Hello, {{ player.name }}!</h2>
<div>Silver: {{ player.silver|floatformat:2 }}</div>
<div>Gold: {{ player.gold|floatformat:2 }}</div>
{% endif %}

<ul>
  {% for bird, eggs in birds_and_eggs %}
  <li>Your {{ bird.amount }} {{ bird.template.name }} birds layed: {{ eggs }} eggs.</li>
  {% endfor %}
</ul>

<form method="post">
  {% csrf_token %}
  <input type="submit" value="Gather!" />
</form>

<p>You have {{ player.eggs }} eggs.</p>
