<h1><a href="{% url 'birds:index' %}">Birds</a></h1>

{% if player %}
<h2>Hello, {{ player.name }}!</h2>
<div>Silver: {{ player.silver|floatformat:2 }}</div>
<div>Gold: {{ player.gold|floatformat:2 }}</div>
{% endif %}

<p>1 gold = 100 silver + 300% bonus.</p>

<form method="post">
  {% csrf_token %}
  I wanna exchange my 
  <input type="number" step="0.01" min="0" name="amount" /> 
  gold. <br/>
  <input type="submit" value="Exchange!" />
</form>
