<h1><a href="{% url 'birds:index' %}">Birds</a></h1>

{% if player %}
<h2>Hello, {{ player.name }}!</h2>
<div>Silver: {{ player.silver|floatformat:2 }}</div>
<div>Gold: {{ player.gold|floatformat:2 }}</div>
{% endif %}

<ul>
  {% if player %}
  <li><a href="{% url 'birds:birds' %}">Buy birds</a></li>
  <li><a href="{% url 'birds:eggs' %}">Gather eggs</a></li>
  <li><a href="{% url 'birds:sell' %}">Sell eggs</a></li>
  <li><a href="{% url 'birds:exchange' %}">Exchange</a></li>
  <li><a href="{% url 'birds:logout' %}">Logout</a></li>
  {% else %}
  <li><a href="{% url 'birds:register' %}">Register</a></li>
  <li><a href="{% url 'birds:login' %}">Login</a></li>
  {% endif %}
</ul>
