<h1><a href="{% url 'birds:index' %}">Birds</a></h1>
<h2>Login:</h2>
<form method="post">
  {% csrf_token %}
  <p>Nickname: <input type="text" name="name" /></p>
  <p>Password: <input type="password" name="password" /></p>
  <input type="submit" value="Login" />
</form>

{% if error %}
<p>{{ error }}</p>
{% endif %}
