<h1><a href="{% url 'birds:index' %}">Birds</a></h1>

{% if player %}
<h2>Hello, {{ player.name }}!</h2>
<div>Silver: {{ player.silver|floatformat:2 }}</div>
<div>Gold: {{ player.gold|floatformat:2 }}</div>
{% endif %}

<p>You have {{ player.eggs }} eggs, you'll get {{ gold_available|floatformat:4 }} gold for it.</p>

<form method="post">
  {% csrf_token %}
  <input type="submit" value="Sell!" />
</form>
